{% extends "auth_sys_ICCN/base.html" %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h1>Ajouter Un utilisateur </h1>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" name="username" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="IPaddress">Adresse IP</label>
                    <input type="text" name="IPaddress" class="form-control" id="IPaddress">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </form>
            <hr>
        </div>
    </div>
{% endblock %}
